div{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
}

ul {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: -40px;
}

.formaDados {
	list-style-type: none;
	display: block;
	padding: 30px 32px;
	background-color: #000;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	font-family: sans-serif;
}